<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BBC News</title>
        <style href=""></style>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>BBC News</h1> 
        <section>
            {% for article in all_the_news %}
                <div>
                    <a href="{{ article.link }}">
                        <h2>{{ article.title }}</h2>
                        <p>{{ article.value }}</p>
                        <p class="publiched">{{ article.published }}</p>
                    </a>
                </div>
            {% endfor %}
        </section>
    </body>
</html>